<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Logiciel de monitoring</short>
  <description>Logiciel de monitoring MONIT</description>
  <port port="{{ port_ecoute }}" protocol="tcp"/>
</service>

