# {{ ansible_managed }}

# Surveillance du service fail2ban
check process wapt with pidfile /var/run/wapt.pid

# Gestion du daemon
start program  "/usr/bin/systemctl start waptserver"
stop program  "/usr/bin/systemctl stop waptserver"
restart program  "/usr/bin/systemctl restart waptserver"

# Conditions de surveillance
if 5 restarts within 5 cycles then timeout

# Ajout du soft dans un groupe
group serveur
